*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.main{
    height:1000px;
    width:50%;
    border: 2px solid black;
    margin-left:25%;
    

}

.main2{
    height:950px;
    width:90%;
    border:2px solid transparent;
    margin:3.5%;
    margin-left:4%;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow:2px 2px 4px red;
    color:white
}
.name{
    display:flex;
   gap:4%;
}

#a2{
    font-size:20px;
}

