*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#a1{
    height:12px;
    width:20px;
    border:2px solid black;
    font-size:12px;
}
#b1{
     height:12px;
    width:20px;
    border:2px solid black;
    font-size:12px;
}